<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="RetryfailedTestSuite">
	<listeners>
		<listener class-name="Analyzer.MyTransformer"></listener>
	</listeners>
	<test name="RetryMultipleFailedTestCases">
		<classes>
			<class name="com.failedTests.MyTests">
			</class>
		</classes>
	</test> <!-- Test -->
</suite> <!-- Suite -->
